/frequency.json
/netflixFrequency.json
/unknownWords.html
/unknownWords.txt
/words.json
/.idea/misc.xml
/.idea/modules.xml
/.idea/.gitignore
/Dialect.txt
/.idea/FrequencyCalculator.iml
/N4.txt
/N5.txt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
